body, button
{
font-family:'Quando', serif;
font-size:11px;
}
.selected
{
   border: inset 2px; 
}
#title
{
   /*text-align:center;*/
   float:top;
   text-align:center;
   font-family:'Quando', serif;
   font-size:15px;
   font-style:bold;
   background:light-gray;
}
table
{
   text-align:center;
   border-collapse:collapse; 
}
th,td
{
   text-align:center;
   padding:0px; 
}
button
{
   width:50px;
   height:50px;
   padding:5px;
   background:white; 
   text-align:center;
}
img
{
   width:35px;
   height:35px;
}
#easynote
{
   border:outset 2px;
   overflow:hidden;
}
/*Add special rules for printing.
When print is called, the control panel is hidden
so the only thing visible to the browser is the easynote div.*/
@media print {
   #control-panel
     {
      display:none;
   }
}
#color-red
{
   background:red;
   color:white;
}
#color-black
{
   background:black;
   color:white;
}
#color-blue
{
   background:blue;
   color:white;
}
#color-green
{
   background:green;
   color:white;
}
#size-table
{
   padding:0px;
   margins:0px;
}
#size-tiny img
{
   height:2px;
   width: 2px;
}
#size-small img
{
   height:5px;
   width: 5px;
}
#size-medium img
{
   height:10px;
   width: 10px;
}
#size-large img
{
   height:15px;
   width:15px; 
}
#nav-buttons button
{
   height:30px;
   width:30px;
   padding:3px;
}
#nav-buttons button img
{
   height:20px;
   width:20px;
}
#upload-image
{
   display:none;
}
#page-number-wrapper
{
   padding:2px;
   font-weight:bold;
}